<div class="container">
  <nav class="navbar transparent" id="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a routerLink="/" routerLinkActive="active" href="#">
        <img class="img" src="./assets/white_org.PNG" width="250" />
      </a>

      <!-- All needed for hamburger menu -->
      <a role="button" (click)="haveClickedHeader = !haveClickedHeader" [ngClass]="{'is-active': haveClickedHeader}" class="navbar-burger hamburger-menu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>


    <div id="navbarBasicExample" class="navbar-menu navbar-end">
      <a routerLink="/" routerLinkActive="active" class="navbar-item">Home</a>
      <a routerLink="/about" routerLinkActive="active" class="navbar-item">About</a>
      <a routerLink="/suggest-a-flavour" routerLinkActive="active" class="navbar-item">The Science</a>
    </div>
  </nav>

  <div class="mobile-nav headerVanish" *ngIf="haveClickedHeader">
    <div class="is-center columns has-text-centered">
      <a class="column" (click)="haveClickedHeader = false" routerLink="/">Home</a>
      <a class="column" (click)="haveClickedHeader = false"  routerLink="/about">About Me</a>
      <a class="column" (click)="haveClickedHeader = false" routerLink="/science">The Science</a>
    </div>
  </div>
</div>