a {
  color: whitesmoke;
}

a:hover {
  background-color: rgba(255,255,255,0);
  color: rgba(255,255,255,.6);
}

img {
  height: 100%;
}

img:hover {
  cursor: pointer;
}

.transparent {
  background-color: rgba(255,255,255,0);
}

.hamburger-menu {
  height: auto;
}

.navbar-item {
  padding: .5em 1.25em;
}