<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<nav class="navbar" id="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="" routerLink="/"
       routerLinkActive="active" href="#">
      <img class="img" src="./assets/white_org.PNG" width="300" height="400"/>
    </a>

    <a style="position: fixed; top: 0; right: 0;" role="button" (click)="haveClickedHeader = !haveClickedHeader" [ngClass]="{'is-active': haveClickedHeader}" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>


  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
<!--      <a routerLink="/"-->
<!--         routerLinkActive="active"-->
<!--         class="navbar-item">-->
<!--        Home-->
<!--      </a>-->

<!--      <a routerLink="/about"-->
<!--         routerLinkActive="active"-->
<!--         class="navbar-item">-->
<!--        About-->
<!--      </a>-->

<!--      <a routerLink="/suggest-a-flavour"-->
<!--         routerLinkActive="active"-->
<!--         class="navbar-item">-->
<!--        Suggest a Flavour-->
<!--      </a>-->
    </div>

    <div class="navbar-end">
      <div class="">
        <div class="">


            <figure class="">


              <img src="./assets/alive_gif.gif" width="400" height="419" style="float: right;">
            </figure>
<!--          <a class="button is-primary">-->
<!--            <strong>New Flavours</strong>-->
<!--          </a>-->

        </div>
      </div>
    </div>
    <hr />
  </div>

</nav>
<div class="mobile-nav headerVanish"  *ngIf="haveClickedHeader">
  <div class="is-center columns has-text-centered">
    <a class="column" (click)="haveClickedHeader = !haveClickedHeader" routerLink="/">Home</a>
    <a class="column" (click)="haveClickedHeader = !haveClickedHeader"  routerLink="/about">About Me</a>
    <a class="column" (click)="haveClickedHeader = !haveClickedHeader" routerLink="/science">The Science</a>
    <img class="image is-mobile is-4-mobile" src="./assets/alive_gif.gif" width="100" height="100">
  </div>
</div>
</body>
