<div class="p-4 footer-background">
  <div class="columns">
    <div class="column is-mobile">
      <a href="https://instagram.com/sunuvabooch?igshid=YmMyMTA2M2Y=">
      <fa-icon class="m-4 fa fa-2x" [icon]="faInstagram"></fa-icon></a>
    </div>

    <div class="column has-text-centered is-mobile" style="font-family: 'Arial Rounded MT Pro Cyr',sans-serif">
      Kassidy Heath<br>
      14 Llewellyn Place <br>
      Shrewsbury <br>
      SY3 8QY
    </div>
    <div class="copy column is-offset-8">Site by Will Angell-James©</div>
  </div>
</div>