<section class="container container-fluid">
  <h1 class="title has-text-centered">
    About me
  </h1>
  <p class="has-text-centered subtitle">Hello!</p>
  <div class="has-text-centered">
    My name is Kassidy Heath, and I am the first employee and head brewer behind Sunuva Booch.
    <div class="is-text m-4">
      I fell in love with Shrewsbury (and one of its lifelong residents) in 2015. Last Summer I finally got the guts to
      move across the pond to join my new family and this wonderful community.
    </div>
    <p class="has-text-centered subtitle is-3">First foray</p>
    <div class="is-text m-4">
      I first tried Kombucha in college in Boston. It was nice, but it wasn’t quite ‘love at first sip’. It took me
      until
      lockdown, when I had gained weight and developed a drinking problem (yikes), to start looking for healthier
      alternatives to soda, alcopops and beer. And BOOM – there was Kombucha. Sweet, sweet Kombucha.
    </div>
    <p class="has-text-centered subtitle is-3">Flavours!</p>
    <div class="is-text m-4">
      It was suddenly the most delicious beverage on planet Earth. I started buying it by the gallon, trying all the
      brands and all the different flavors I could find. I was drinking significantly less alcohol and calories. I felt
      energized, athletic, and alive!
    </div>
    <p class="has-text-centered subtitle is-3">Eco-friendly</p>
    When I moved to the UK, I was surprised that I couldn’t find Kombucha as easily. It just hasn’t taken off here yet
    like it has in other parts of the world. The Kombucha I could find in stores was disappointing as it didn’t have the
    same freshness, nutrient content, or flavor, and had usually been shipped from far away or packaged in plastic – not
    so eco-friendly.

    <p class="has-text-centered subtitle is-3">Brewing</p>
    <div class="is-text m-4">
      So I decided to put my Biology degree to use, and started brewing my own Kombucha at home. I did a lot of
      research,
      made a ton of mistakes, and spilled enough tea for a second Boston Tea Party – but the resulting brews came out
      fantastic! With meticulous process development and recipe refinement, I’m very confident in my product and am
      excited to introduce Kombucha at its best.
    </div>
    <p class="has-text-centered subtitle is-3">I can’t wait to hear what you think!</p>

  <div>
    <img width="75%" height="" src="../../assets/Sunuva%20Booch%20Label.jpg">
  </div>
  </div>
</section>