<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="is-center columns has-text-centered m-3">
  <div class="text-chunk">
  <div class="title is-1">
    What is Kombucha?
  </div>
  <div class="subtitle is-2">

    Kombucha is fermented tea!
  </div>
  <div class="subtitle">
    Just like yogurt is fermented milk and sauerkraut is fermented cabbage. Though the Kombucha commercial industry is new, the drink is much older and has been consumed for hundreds (if not thousands) of years in every country on the planet.
  </div>
  </div>
  <div class="text-chunk">
    <div class="title is-1 longword">
      Ingredients
    </div>
    <div class="subtitle is-2">

      Mostly tea
    </div>
    <div class="subtitle">
      Tea [Camelia sinensis], Sugar [sucrose], Live Cultures [Acetobacter, Saccharomyces, Berttanomyces, Lactobacillus, Pediococcus, Gluconacetobacter kombuchae, Zygosaccharomyces kombuchaensis], flavourings [juice, fruit, herbs, etc].
    </div>
  </div>
  <div class="text-chunk">
    <div class="title is-1 longword">
      Properties
    </div>
    <div class="subtitle is-2">
      Kombucha is naturally antimicrobial.
    </div>
    <div class="subtitle">
     Its low pH and mix of organic acids have been shown to kill known pathogens on contact.
      The antimicrobial activity of Kombucha was investigated against a number of pathogenic microorganisms. According to the literature on Kombucha, acetic acid is considered to be responsible for the inhibitory effect toward a number of microbes tested. Kombucha has proved to exert antimicrobial activities against E. coli, Sh. sonnei, Sal. typhimurium, Sal. enteritidis, and Cm. jejuni, even at neutral pH and after thermal denaturation. This finding suggests the presence of antimicrobial compounds other than acetic acid and large proteins in Kombucha.
    </div>
  </div>
</div>

</body>
