<div>
  <section class="has-text-centered full-height-parent">
    <div class="full-height-child container">
      <hr class="mt-0" />
      <h1 class="title is-1 has-text-white">
        Small Batch Kombucha
      </h1>
      <h2 class="subtitle is-2 has-text-white">
        Brewed & Bottled in Shrewsbury, UK
      </h2>
      <hr />
    </div>

    <app-carbonation></app-carbonation>
  </section>

  <section class="features">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered is-center">
          <figure class="is-128x128 is-inline-block">
            <lottie-player autoplay loop speed="1" class="animation-icon" src="./assets/white_tea_json.json">
            </lottie-player>
          </figure>
          <div>
            <h1 class="title">Health focused</h1>
            <p class="subtitle is-4">
              Kombucha is a probiotic beverage crafted from fermented sweet tea. Beneficial microorganisms thrive in every
              bottle, converting sugar into vitamins, minerals and antioxidants.
  
            </p>
          </div>
        </div>
  
        <div class="column has-text-centered is-center">
            <figure class="is-128x128 is-inline-block">
              <lottie-player id="firstLottie" class="is-justify-content-center is-flex"
                            src="https://assets5.lottiefiles.com/private_files/lf30_rwpu0mow.json" mode=""
                            background="transparent" speed="1" style="width: 100px; height: 100px;"
                            autoplay></lottie-player>
            </figure>
          <h1 class="title">Sustainably designed</h1>
          <p class="subtitle is-4">
  
            <i class="fa-thin fa-leaf"></i>
            I start by brewing loose-leaf tea from a local tea shop, adding just enough sugar to keep our microscopic
            friends
            happy and performing their best. <br> <br>I flavour each batch with locally-sourced fruits, veggies and herbs -
            organic
            where available. I take care to avoid plastics and bottle only in glass.
          </p>
        </div>
  
        <div class="column has-text-centered is-center">
          <div class="has-text-centered">
            <figure class="is-128x128 is-inline-block">
  
            </figure>
  
          </div>
          <h1 class="title">Never boring</h1>
          <p class="subtitle is-4">
            The result is a zingy, refreshing, slightly-sweet, slightly-tart, sparkling drink that is sure to put a little
            pep
            in your step.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>

    <div>
      <div class="box block">
        <p class="subtitle is-4">
          Good for your gut, good for local businesses & good for the planet. Not to mention - completely delicious.
        </p>
      </div>
      <p class="subtitle is-3 has-text-white" style="float: right;">
        Sunuva Booch, that's good!
      </p>
    </div>
  </section>

  <section>
    <img width="1000" style="margin-bottom: -10px;" height="1000" src="./assets/Frieda_Approves_webp.webp">
  </section>
</div>